#logo{
    background-image: url(pattern.png);
    background-color: blue;
    width: 1000px;
    }
    #scritta-grigia{
        color: grey;
    }

    #scritta-blu{
        color: blue;
    }

    #data{
        color: grey;
    }

    #evidenziatore{
        background-color: yellow;
    }

    #scritta-sotto-foto{
        font-size: 10px;
    }

    #prima-riga{
        background-color: blue;
        color: white;
    }

    #seconda-quarta-riga{
        background-color: cornflowerblue;
    }

    #ultima-parte{
        color: grey;
    }

    #penultima-foto{
        background-image: url(monitor.jpg);
        height: 200px;
        width: 300px;
        font-size: 25px;
        color: white;
    }

    #ultima-foto{
        background-image: url(graph.jpg);
        height: 200px;
        width: 300px;
        font-size: 25px;
        color: white;
    }



